CRUD.Test/bin/Debug/net8.0/nunit_random_seed.tmp
CRUD.Test/obj/Debug/net8.0/CRUD.Test.AssemblyInfo.cs
CRUD.Test/obj/Debug/net8.0/CRUD.Test.AssemblyInfoInputs.cache
CRUD.Test/obj/Debug/net8.0/CRUD.Test.csproj.AssemblyReference.cache
TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfo.cs
TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfoInputs.cache
CRUD.Test/bin/Debug/net8.0/CRUD.Test.dll
CRUD.Test/bin/Debug/net8.0/CRUD.Test.pdb
CRUD.Test/bin/Debug/net8.0/TodoApi.dll
CRUD.Test/bin/Debug/net8.0/TodoApi.exe
CRUD.Test/bin/Debug/net8.0/TodoApi.pdb
CRUD.Test/obj/Debug/net8.0/CRUD.Test.dll
CRUD.Test/obj/Debug/net8.0/CRUD.Test.genruntimeconfig.cache
CRUD.Test/obj/Debug/net8.0/CRUD.Test.pdb
CRUD.Test/obj/Debug/net8.0/ref/CRUD.Test.dll
CRUD.Test/obj/Debug/net8.0/refint/CRUD.Test.dll
TodoApi/bin/Debug/net8.0/TodoApi.dll
TodoApi/bin/Debug/net8.0/TodoApi.exe
TodoApi/bin/Debug/net8.0/TodoApi.pdb
TodoApi/obj/Debug/net8.0/apphost.exe
TodoApi/obj/Debug/net8.0/TodoApi.dll
TodoApi/obj/Debug/net8.0/TodoApi.MvcApplicationPartsAssemblyInfo.cs
TodoApi/obj/Debug/net8.0/TodoApi.dll
TodoApi/obj/Debug/net8.0/TodoApi.pdb
TodoApi/obj/Debug/net8.0/ref/TodoApi.dll
TodoApi/obj/Debug/net8.0/refint/TodoApi.dll
CRUD.Test/obj/project.nuget.cache
CRUD.Test/obj/Debug/net8.0/CRUD.Test.csproj.CoreCompileInputs.cache
CRUD.Test/bin/Debug/net8.0/CoverletSourceRootsMapping_CRUD.Test
CRUD.Test/obj/Debug/net8.0/CRUD.Test.GeneratedMSBuildEditorConfig.editorconfig
TodoApi/obj/project.nuget.cache
TodoApi/obj/TodoApi.csproj.nuget.dgspec.json
TodoApi/obj/Debug/net8.0/TodoApi.csproj.CoreCompileInputs.cache
TodoApi/obj/Debug/net8.0/TodoApi.genruntimeconfig.cache
TodoApi/obj/Debug/net8.0/TodoApi.assets.cache
TodoApi/obj/Debug/net8.0/TodoApi.GeneratedMSBuildEditorConfig.editorconfig
TodoApi/obj/Debug/net8.0/TodoApi.sourcelink.json
