TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfo.cs
TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfoInputs.cache
TodoApi/bin/Debug/net8.0/TodoApi.dll
TodoApi/bin/Debug/net8.0/TodoApi.exe
TodoApi/bin/Debug/net8.0/TodoApi.pdb
TodoApi/obj/Debug/net8.0/apphost.exe
TodoApi/obj/Debug/net8.0/TodoApi.dll
TodoApi/obj/Debug/net8.0/TodoApi.pdb
TodoApi/obj/Debug/net8.0/ref/TodoApi.dll
TodoApi/obj/Debug/net8.0/refint/TodoApi.dll
